@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import "tailwindcss";

:root{
  --perimary-bg: #f8f7f5;
  /* background-color: #FCF8F1; */
  background-color: #F5F5F0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;

}

.nav-bg{
  background-color: #FCF8F1;
}


.nav-item {
   color:#5C6F2B;
}

.nav-menu{
  background-color: #8A8635;
  color: #F5EFE6;
}


.nunito-500 {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.tinos-regular {
  font-family: "Tinos", serif;
  font-weight: 400;
  font-style: normal;
}

.tinos-bold {
  font-family: "Tinos", serif;
  font-weight: 700;
  font-style: normal;
}

.tinos-regular-italic {
  font-family: "Tinos", serif;
  font-weight: 400;
  font-style: italic;
}

.tinos-bold-italic {
  font-family: "Tinos", serif;
  font-weight: 700;
  font-style: italic;
}


.footer{
  /* background-color: #5C6F2B; */
  width: 100% !important;
  position: relative;
  left: 0%;
  bottom:0%;
}

